.divVideoPlayer .videoPlayer
{
    margin: 0 !important;
    padding: 0 !important;
    position: fixed !important;
    top: -10vh;
    left: 0;
    z-index: -1;
}

.divVideoPlayer .videoPlayer .video-react-video
{
    height: 120vh !important;

}