.styleMobileNavbar::after {
    background-color: #25282c;
    background-image: none;
}

#navbar-brand {
    margin: 0;
    padding: 0;
}

#navbar-main {
    padding-top: 1rem;
}

@media (max-width: 991px){
    .styleMobileNavbar ul {
        margin: 0 20% 0 auto;
    }
}
